{% extends 'layout.html' %}

{% block content  %}

<section id="main-content">
    <div class="row">
      <div class="col-12">
        <div class="card">
              <!-- /# Search -->
              <div class="row col-12">
                {% if errorFlag %}
                  <div class="col-12 text-danger">
                    <span> Please enter a valid search value!</span>
                  </div>
                {% endif %}
                <form action="{{url_for('credentialsDashboard')}}" method="post" class="col-md-6 col-sm-12 github-search">
                  <div class="form-group">
                      <div class="input-group input-group-rounded">
                          <input type="text" placeholder="Search by domain" name="search" class="form-control" required>
                          <span class="input-group-btn"><button class="btn btn-primary btn-group-right" type="submit"><i class="ti-search"></i></button></span>
                      </div>
                  </div>
                </form>
                <form action="{{url_for('credentialsDashboard')}}" method="post" class="col-md-6 col-sm-12 github-search">
                  <div class="form-group">
                      <div class="input-group input-group-rounded">
                          <input type="text" placeholder="Search by repository" name="searchrepo" class="form-control" required>
                          <span class="input-group-btn"><button class="btn btn-primary btn-group-right" type="submit"><i class="ti-search"></i></button></span>
                      </div>
                  </div>
                </form>
              </div>
              <div class="card-header border-bottom-0">
                {% if not search %}
                  <h4 class="card-title">Crawling results </h4>
                {% else %}
                  <h4 class="card-title">Crawling results to: {{search}}</h4>
                {% endif %}
              </div>

              <div class="card-body">
                <!-- /# Statistics -->
                <div class="row">
                      <div class="col-md-12 col-sm-12">
                          <div class="card p-0">
                              <div class="stat-widget-three home-widget-three">
                                  <div class="stat-icon bg-dark">
                                      <i class="ti-github"></i>
                                  </div>
                                  <div class="stat-content">
                                      <div class="stat-digit">{{count}}</div>
                                      <div class="stat-text">GitHub Total Results</div>
                                  </div>
                              </div>
                          </div>
                      </div>
                </div>

                <!-- /# List -->
                <div class="basic-list-group">
                    <div class="list-group">
                      {% for item in results %}
                        <div class="list-group-item list-group-item-action flex-column align-items-start mb-1">
                            <div class="d-flex w-100 justify-content-between">
                                <a target="_blank" href="{{item['FilePath']}}" >
                                    <h6 class="text-dark mb-1 link-hover">File:<strong> {{item['FileName']}}</strong></h6>
                                </a>
                                <small class="text-muted">Last Updated: {{item['UpdatedDate'].strftime("%d/%m/%Y, %I:%M:%S %p")}}</small>
                            </div>
                            <div class="row">
                              <div class="col-lg-10 col-12 row ">
                                <div class="col-md-6 col-12 pt-0 pb-0 pl-0">
                                  <p class="mb-0 text-muted">Domain: {{item['domain']}}</p>
                                </div>
                                <div class="col-md-6 col-12 pt-0 pb-0 pl-0">
                                  <p class="mb-0 link-hover"><i class="ti-link"></i>
                                      <a class="link-hover" target="_blank" href="{{item['RepoLink']}}">
                                          Repository: {{item['RepoFullName']}}
                                      </a>
                                  </p>
                                </div>
                              </div>
                            </div>
                        </div>
                      {% endfor %}
                    </div>
                </div>

                <!-- /# Paging -->
                {% if total_pages > 1 %}
                <div class="col-12 pagination-div mt-3">
                  <ul class="pagination pagination-sm pagination-circle">
                    <li class="page-item page-indicator page-left">
                      {% if page_num > 1 %}
                        <a class="page-link" href="{{url_for('credentialsDashboard', page_num = page_num-1)}}">
                          <i class="ti-angle-left"></i>
                        </a>
                      {% else %}
                        <a class="page-link disabled text-muted" role="link">
                          <i class="ti-angle-left"></i>
                        </a>
                      {% endif %}
                    </li>
                    <small class="text-muted">Page {{page_num}} of {{total_pages}}</small>
                    <li class="page-item page-indicator page-right">
                      {% if page_num < total_pages %}
                        <a class="page-link" href="{{url_for('credentialsDashboard', page_num = page_num+1)}}">
                          <i class="ti-angle-right"></i>
                        </a>
                      {% else %}
                        <a class="page-link disabled text-muted" role="link">
                          <i class="ti-angle-right"></i>
                        </a>
                      {% endif %}
                    </li>
                  </ul>
                </div>
                {% endif %}
              </div>
          </div>
      </div>
    </div>
</section>

{% endblock content  %}