{% extends 'layout.html' %}

{% block content  %}

<div class="row">
    <div class="col-12">
      <div class="card">
            <div class="card-header border-bottom-0 d-flex keyword-header">
                <h4 class="card-title">Sensitive domains</h4>
                <button type="button" 
                class="btn btn-success btn-addon"
                onclick="AddDomain()">
                    <i class="ti-plus"></i>Add Domain
                </button>
            </div>
            <div class="card-body table-responsive">
                <table class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Entity</th>
                        <th scope="col">Domain</th>
                        <th scope="col">Created</th>
                        <th scope="col">Modified</th>
                        <th scope="col"></th>
                      </tr>
                    </thead>
                    <tbody>
                        {% if count > 0 %}
                            {% for item in results %}
                                <tr>
                                    <th scope="row">{{loop.index}}</th>
                                    <td>{{item['Entity']}}</td>
                                    <td>{{item['Domain']}}</td>
                                    <td>{{item['Created'].strftime("%d/%m/%Y, %I:%M %p")}}</td>
                                    <td>{{item['Modified'].strftime("%d/%m/%Y, %I:%M %p")}}</td>
                                    <td>
                                        <button 
                                            data-entity="{{item['Entity']}}"  
                                            data-domain="{{item['Domain']}}"
                                            id="{{item['_id']}}"
                                            type="button"
                                            class="btn btn-primary btn-addon"
                                            onclick="EditDomain(this)">
                                            <i class="ti-pencil-alt"></i>Edit
                                        </button>
                                        <button type="button" 
                                            id="{{item['_id']}}"
                                            class="btn btn-danger btn-addon"
                                            onclick="RemoveDomain(this)">
                                            <i class="ti-trash"></i>Remove
                                        </button>
                                    </td>
                                </tr>
                            {% endfor%}
                        {% else %}
                            <tr>
                                <td colspan="5">No Domains Found</td>
                            </tr>
                        {% endif %}
                    </tbody>
                  </table>
            </div>
        </div>
    </div> 
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="{{url_for('static', filename='js/sweetalert.init.js')}}"></script>

{% endblock content  %}