{% extends 'layout.html' %}

{% block content  %}

<div class="row">
    <div class="col-12">
      <div class="card">
            <div class="card-header border-bottom-0 d-flex keyword-header">
                <h4 class="card-title">Keywords</h4>
                <button type="button" 
                class="btn btn-success btn-addon"
                onclick="AddKeyword()">
                    <i class="ti-plus"></i>Add Keyword
                </button>
            </div>
            <div class="card-body table-responsive">
                <table class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">keyword</th>
                        <th scope="col">Created</th>
                        <th scope="col">Modified</th>
                        <th scope="col"></th>
                      </tr>
                    </thead>
                    <tbody>
                        {% if count > 0 %}
                            {% for word in results %}
                                <tr>
                                    <th scope="row">{{loop.index}}</th>
                                    <td>{{word['Keyword']}}</td>
                                    <td>{{word['Created'].strftime("%d/%m/%Y, %I:%M %p")}}</td>
                                    <td>{{word['Modified'].strftime("%d/%m/%Y, %I:%M %p")}}</td>
                                    <td>
                                        <button value="{{word['Keyword']}}" 
                                            id="{{word['_id']}}" type="button" 
                                            class="btn btn-primary btn-addon"
                                            onclick="EditKeyword(this)">
                                            <i class="ti-pencil-alt"></i>Edit
                                        </button>
                                        <button type="button" 
                                            id="{{word['_id']}}"
                                            class="btn btn-danger btn-addon"
                                            onclick="RemoveKeyword(this)">
                                            <i class="ti-trash"></i>Remove
                                        </button>
                                    </td>
                                </tr>
                            {% endfor%}
                        {% else %}
                            <tr>
                                <td colspan="5">No Keywords Found</td>
                            </tr>
                        {% endif %}
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{{url_for('static', filename='js/sweetalert.init.js')}}"></script>

{% endblock content  %}